
<p style="border: 3px solid">6-Super Ticket</p>

<p #stock >TOTAL STOCK: {{totalStock}}</p>

<p *ngIf="totalStock === 0" style="border: 3px solid; background: red">TODO VENDIDO</p>


<p style="background: green">NACIONAL</p>
<div style="display: flex; flex-direction: row;">
<ng-container *ngFor="let concert of nacionalConcertList">
  <app-concert
    [name]="concert.name"
    [stock]="concert.stock"
    [enable]="concert.enable"
    (buy)="upDateStock($event)"
  >
  </app-concert>
</ng-container>
</div>

<p style="background: blue">INTERNACIONAL</p>
<div style="display: flex; flex-direction: row;">
<ng-container *ngFor="let concert of interNacionalConcertList">
  <app-concert
    [name]="concert.name"
    [stock]="concert.stock"
    [enable]="concert.enable"
    (buy)="upDateStock($event)"
  >
  </app-concert>
</ng-container>
</div>
